
<!DOCTYPE html>
<html>
    <head>
        <title>
            My Note Ap
        </title>
         <link rel="icon" href="/img/weather.png">
         <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}} 
            <p>This page is developed by suthan Bala. Learning some awsome technologies and loving it.</p>             
        <img class="portrait" src="/img/robot.jpg" alt="Robot Image" />
        </div>
         
          {{>footer}}
    </body>
</html>